.idea
composer.lock
/liw-project/config/host
/liw-project/config/config.php
/liw-project/config/ways/article
/vendor
liw
liw.bat
plan-tz.md
bower.json
Gruntfile.js
npm-debug.log
package.json
/node_modules
/bower_components
/tests
/web/js/captcha.js
/web/js/captcha
phpunit.xml