.idea
/composer.lock
/vendor
/app/config/config.php
/liw
/liw.bat
/plan-tz.md
/bower.json
/Gruntfile.js
npm-debug.log
/node_modules
/bower_components
/tests
/web/js/captcha.js
/web/js/captcha
phpunit.xml
/app/models/Article.php
/app/models/Like.php
/app/controllers/AjaxController.php
/app/controllers/ArticleController.php
/web/assets
/l
