#develop{
    background-color: #ffffff;
    border: 1px solid #3c3c3c;
    border-radius:2px;
      -webkit-border-radius:2px;
      -moz-border-radius:2px;
      -khtml-border-radius:2px;
    cursor: pointer;
    display: none;
    left: 50%;
    margin-left: -375px;
    margin-top: -80px;
    position: fixed;
    top: 100%;
    z-index: 9999;
}
#develop_button{
    background-color: #ff0000;
    border: 1px solid #3c3c3c;
    border-radius:2px;
      -webkit-border-radius:2px;
      -moz-border-radius:2px;
      -khtml-border-radius:2px;
    cursor: pointer;
    margin-top: -50px;
    padding: 2px;
    position: fixed;
    top: 100%;
    z-index: 9999;
}
#develop table td{
    border: 1px solid #000000;
    border-collapse: separate;
    height: 30px;
    padding: 4px 0 0;
    text-align: center;
    width: 144px;
}
#show_classes{
    display: none;
    left: 152px;
    position: fixed;
    top: 74px;
    z-index: 10000;
}
#show_session{
    display: none;
    left: 602px;
    position: fixed;
    top: 74px;
    z-index: 10000;
}
#show_get{
    display: none;
    left: 452px;
    position: fixed;
    top: 74px;
    z-index: 10000;
}
#show_post{
    display: none;
    left: 452px;
    position: fixed;
    top: 74px;
    z-index: 10000;
}
#show_requests{
    display: none;
    left: 152px;
    position: fixed;
    top: 74px;
    z-index: 10000;
}
.dp_label{
    color: #FF2222;
    font-size: 20px;
    font-weight: bold;
}
#develop #close_table{
    background: url(../img/ico/close.png);
    float: right;
    height: 20px;
    margin-top: -6px;
    width: 20px;
}
