/**
* 1. Свойства в алфавитном понядке:
* a b c d e f g h i j k l m n o p q r s t u v w x y z
*
* 2. -moz, -webkit свойства идут после основного и
* выделенны 2мя пробелами
*/
@font-face {
    font-family: Andika; /* Гарнитура шрифта */
    src: url(../fonts/Andika-R.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: MeriendeOne-Regular; /* Гарнитура шрифта */
    src: url(../fonts/MeriendaOne-Regular.ttf); /* Путь к файлу со шрифтом */
}
html,
body {
    font: 14px Andika;
    height: 100%;
    margin: 0;
    padding: 0;
}
/**
* Каркас страницы
*/
#main_wrapper {
    min-height: 100%;
    overflow-y: auto;
}
.jumbotron{

}
/*#second{
    background-color: #103010;
    height: 2000px;
    position: relative;
}
#third{
    height: 1000px;
}*/
footer{
    background-color: #dddddd;
    font-size: 20px;
    height: 350px;
    text-align: center;
}
/**
* конец каркаса.
*/
#top-menu{
    left: 30%;
    position: absolute;
    top: 0;
}
.jumbotron{
    text-align: center;
}
.logo{
    color: #ac2925;
    font-family: MeriendeOne-Regular;
    font-weight: bold;
}
.error {
    text-align: center;
    margin: 100px auto 10px auto;
    padding-top: 20px;
    width: 600px;
    min-height: 150px;
    border: solid 2px #ff0000;
    background-color: #ffdddd;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    -moz-box-shadow: 0 0 14px #f00;
    -webkit-box-shadow: 0 0 14px #f00;
    box-shadow: 0 0 14px #f00;
}