/**
* 1. Свойства в алфавитном понядке:
* a b c d e f g h i j k l m n o p q r s t u v w x y z
*
* 2. -moz, -webkit свойства идут после основного и
* выделенны 2мя пробелами
*/

html,
body {
    font: 14px Verdana, Arial;
    height: 100%;
    margin: 0;
    padding: 0;
}
/**
* Каркас страницы
*/
#main_wrapper {
    height: 100%;
    min-width: 1000px;
    overflow-y: auto;
}
#main{
    min-height: 100%;
    padding-left: 200px;
    padding-top: 150px;
    padding-right: 200px;
}
/*#second{
    background-color: #103010;
    height: 2000px;
    position: relative;
}
#third{
    height: 1000px;
}*/
footer{
    background-color: #dddddd;
    height: 300px;
    padding: 20px;
    position: relative;
}
/**
* конец каркаса.
*/
#top-menu{
    left: 30%;
    position: absolute;
    top: 0;
}