/**
* 1. Свойства в алфавитном понядке:
* a b c d e f g h i j k l m n o p q r s t u v w x y z
*
* 2. -moz, -webkit свойства идут после основного и
* выделенны 2мя пробелами
*/
@font-face {
    font-family: Andika;
    src: url(../fonts/Andika-R.ttf);
}
@font-face {
    font-family: MeriendeOne-Regular;
    src: url(../fonts/MeriendaOne-Regular.ttf);
}
html,
body {
    font: 14px Andika;
    height: 100%;
    margin: 0;
    padding: 0;
}
/**
* Каркас страницы
*/
#main_wrapper {
    min-height: 100%;
    padding-top: 50px;
    overflow-y: auto;
}
.jumbotron{

}
/*#second{
    background-color: #103010;
    height: 2000px;
    position: relative;
}
#third{
    height: 1000px;
}*/
footer{
    background-color: #dddddd;
    font-size: 20px;
    height: 350px;
    text-align: center;
}
/**
* конец каркаса.
*/
#top-menu{
    left: 30%;
    position: absolute;
    top: 0;
}
.jumbotron{
    text-align: center;
}
.logo{
    color: #ac2925;
    font-family: MeriendeOne-Regular;
    font-weight: bold;
}
.error {
    text-align: center;
    margin: 100px auto 10px auto;
    padding-top: 20px;
    width: 600px;
    min-height: 150px;
    border: solid 2px #ff0000;
    background-color: #ffdddd;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    -moz-box-shadow: 0 0 14px #f00;
    -webkit-box-shadow: 0 0 14px #f00;
    box-shadow: 0 0 14px #f00;
}
.indent50{
    padding-left: 50px;
    text-indent: -16px;
}
.reg{
    background-color: #FFFFFF;
    border: solid 2px #204020;
    border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        -khtml-border-radius:3px;
    box-shadow: 0 0 40px #107010;
        -moz-box-shadow: 0 0 40px #107010;
        -webkit-box-shadow: 0 0 40px #107010;
    color: #105010;
    margin: 80px 10% 10px 10%;
    min-height: 150px;
    min-width: 342px;
    opacity: 0.9;
    padding: 20px;
    text-align: center;
}
.reg canvas{
    border: solid 1px #204020;
    border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        -khtml-border-radius:3px;
    box-shadow: 0 0 10px #107010;
        -moz-box-shadow: 0 0 10px #107010;
        -webkit-box-shadow: 0 0 10px #107010;
    cursor: pointer;
    height: 140px;
    user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
    width: 210px;

}
.reg canvas:hover{
    box-shadow: 0 0 30px #107010;
        -moz-box-shadow: 0 0 30px #107010;
        -webkit-box-shadow: 0 0 30px #107010;
}
.reg canvas:active{
    border: solid 1px #ffff00;
    box-shadow: 0 0 30px #ffff00;
        -moz-box-shadow: 0 0 30px #ffff00;
        -webkit-box-shadow: 0 0 30px #ffff00;
}
.reg p{
    user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
}
.input-center{
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
}
.reg .error_reg{
    font-size: 18px;
    color: red;
    font-weight: bold;
    text-align: center;
}
#tooltip{
    position: absolute;
    display: none;
    top:0px;
    left:0px;
    background-color: #000;
    padding: 5px 10px 5px 10px;
    color: white;
    opacity : 0.7;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    z-index: 9999;
}